@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  @keyframes wave-color {
    0% {
      color: rgb(30, 41, 59);
    }
    25% {
      color: rgb(79, 88, 104);
    }
    50% {
      color: rgb(128, 135, 149);
    }
    75% {
      color: rgb(177, 182, 194);
    }
    100% {
      color: rgb(226, 232, 240);
    }
  }

  .animate-wave {
    animation: wave-color 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition: color 0.3s ease-in-out;
  }

  .group .animate-wave:hover {
    animation: none;
    color: rgb(240, 248, 253);
  }
}

.animate-wave-infinite {
  animation: wave-color 3s infinite;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  transition: color 0.3s ease-in-out;
}
